* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html, body {
  scroll-behavior: smooth;
}

.App {
  max-width: 1100px;
  margin: 10px auto;
}

.search-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px auto;
  line-height: 2rem;
}

.search-result {
  width: 100%;
  display: block;
  margin: 20px auto;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
  transition: all .5s ease
}

table thead {
  background-color: rgb(247, 241, 232);
}

table th {
  padding: 10px 0;
}

table tr {
  text-align: center;
}

table tr:nth-child(even) {
  background-color: rgb(247, 241, 232);
  width: 100%;
}

table tbody td {
  width: 150px;
  border-bottom: 1px solid black;
  padding: 5px;
}

table tbody tr td img {
  width: 70px;
}

.btn-search {
  margin-right: 10px;
}

button {
  padding: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.movie-actions button{
  margin: 5px;
}

.movie-actions button:first-child {
  background-color: rgb(206, 159, 250);
}
.movie-actions button:last-child {
  background-color: rgb(248, 153, 153);
}

@media only screen and (max-width: 600px) {
  .App {
    max-width: 100%;
  }

  .search-section {
    flex-wrap: wrap;
  }
}